
<h1> New Entry  </h1>

<form action="/entries" method="post">
  <p>
    <label for="title"> Entry Title: </label>
    <input type="text" name="title" >
     <p>
 <label for="description"> Entry text </label>
    <input type="text" name="description" >
   <p>
  <label for="posted_on"> Date </label>
    <input type= date name="posted_on" >
  </p>
  
   <!-- transfer state from the previous action to the next -->


  <button>Submit</button>
</form>
