<h1> New Entry</h1>

<form action="/places" method="post">
  <p>
    <label for="title"> Entry Title: </label>
    <input type="text" name="title" >
     <p>
 <label for="description"> Text </label>
    <input type="text" name="description" >
   <p>
  <label for="posted_on"> Date </label>
    <input type= date name="posted_on" >
  </p>
  <button>Submit</button>
</form>