<h1>New Entry for <%= @place["name"] %> </h1>

<form action="/places" method="post">
  <p>
    <label for="Title">Entry Title</label>
    <input type="text" name="name" id="name">
    
  </p>
  <button>Submit</button>
</form>